* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* inizio sezione aside */
aside {
    height: calc(100% - 80px);
    width: 250px;
    float: left;
    position: relative;
    background-color: rgb(19, 18, 0);
}

.logo {
    margin-left: 15px;
}

.logo img {
    height: 100px;
    width: 200px;
    object-fit: contain;
}

.aside-list-wrapper-top {
    margin-left: 15px;
    padding-bottom: 50px;
}

.aside-list-wrapper-bottom {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}

.aside-list-wrapper-top ul li {
    padding-top: 15px;
    padding-bottom: 10px;
    list-style-type: none;
}

.aside-list-wrapper-top ul i {
    padding-right: 15px;
}

.aside-list-wrapper-center {
    margin-left: 15px;
    padding-bottom: 50px;
}

.aside-list-wrapper-center ul li {
    padding-top: 15px;
    list-style-type: none;
}

.install-cta {
    padding-bottom: 50px;
}

.account-name {
    padding-bottom: 20px;
}

.aside-list-wrapper-bottom i {
    padding-right: 15px;
}

/*fine sezione asdide */
/*inizio sezione main*/
main {
    float: right;
    width: calc(100% - 250px);
    height: calc(100% - 80px);
    background: rgb(145, 142, 52);
    background: linear-gradient(90deg, rgba(145, 142, 52, 1) 25%, rgba(117, 114, 42, 1) 63%, rgba(93, 91, 33, 1) 84%, rgba(64, 63, 23, 1) 98%);
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 900px;
    height: 100px;
}

nav ul li {
    padding: 30px;
    display: inline-block;
}

#recently .container p {
    text-align: center;
}

#reccomended .container p {
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding-top: 100px;
}

.item-wrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.container-item {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.container-item img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#recently .container p {
    text-align: center;
}

#reccomend .container p {
    text-align: center;
}

h1 {
    text-align: left;
    padding-bottom: 50px;
}

.titolo {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1200px;
    margin: auto;
}

/*fine sezione main*/
footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(40, 40, 40);
    clear: both;
}

.footer-left {
    width: 25%;
    display: flex;
    align-items: center;
}

.fa-heart {
    padding-left: 25px;
}

.playing-current {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.footer-left img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 15px;
}

.footer-center {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

.elapsed {
    position: absolute;
    bottom: 0;
    transform: translateY(80%);
    height: 3px;
    max-width: 600px;
    background: #555;
    border-radius: 15px;
}

.footer-center-icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 20px;
}

.footer-right {
    width: 25%;
    display: flex;
    justify-content: center;
}

.footer-right-icons {
    display: flex;
    margin-right: 15px;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.footer-right-icons i {
    padding-left: 25px;
}



.elapsed-right {
    height: 3px;
    width: 90px;
    background: #555;
    border-radius: 15px;
    margin-left: 5px;
}


.elapsed-container {
    display: flex;
    align-items: center;

}

.fa-bars {
    display: none;

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 320px) {
.fa-bars {
    display: block;
    margin-left: 20px;
}

nav {
    justify-content: flex-start;
}

#nav-list {
    display: none;
}

.container {
    margin-left: 20px;
}

.artist {
    display: none;
}

.footer-right {
    display: none;
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    nav {
        justify-content: flex-start;
    }

    .fa-bars {
        display: block;
    }
    #nav-list {
        display: none;
    }

    .footer-right {
        display: block;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #nav-list {
        display: block;
    }
    .fa-bars {
        display: none;
    }
}
